################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug/net8.0
/.vs/Axpo/config
/.vs/Axpo
/20240516_202405152320.csv
/20240516_202405152321.csv
/20240516_202405152326.csv
/20240516_202405152329.csv
/20240516_202405152330.csv
/20240516_202405152341.csv
/20240516_202405152342.csv
/.vs/ProjectEvaluation
/tests/AxpoAsignacionTests/obj/Debug/net8.0
/tests/AxpoAsignacionTests/obj
